{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    Page header.
}}
<header role="banner" class="pos-f-t navbar navbar-full navbar-light bg-faded navbar-static-top moodle-has-zindex">

    <div id="top-nav" class="container-fluid navbar-nav flex items-center">

        <div data-region="drawer-toggle">
            <button aria-expanded="{{#navdraweropen}}true{{/navdraweropen}}{{^navdraweropen}}false{{/navdraweropen}}" aria-controls="nav-drawer" type="button" class="btn pull-xs-left m-r-1 btn-secondary" data-action="toggle-drawer" data-side="left" data-preference="drawer-open-nav">{{#pix}}i/menubars{{/pix}}<span class="sr-only">{{#str}}sidepanel, core{{/str}}</span></button>
        </div>

        {{{ output.tcdd_categorymenu }}}

        <div class="inline-block ml-4">
            {{{ output.lang_menu }}}
        </div>

        <div class="dropdown inline-block ml-auto mr-4">
            <button class="btn btn-secondary dropdown-toggle border-0" type="button" id="tcddCourseSearchMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Course search">
            <i class="fa fa-search"></i>
            </button>

            <div class="dropdown-menu dropdown-menu-right rounded mt-6 p-4" aria-labelledby="tcddCourseSearchMenu" style="right: 0; left: initial; position: absolute !important;">
                {{>theme_tcdd_learn/course_search_form}}
            </div>
        </div>

        <!-- <div class="inline-block ml-auto">
            {{>theme_tcdd_learn/course_search_form}}
        </div> -->

        <!-- user_menu -->
        {{{ output.user_menu }}}
    </div>
</header>