<div id="links">
     <h3 class="mb-4">{{# str }} links, theme_tcdd_learn {{/ str }}</h3>

     {{#haslinkitems}}

     	<ul class="list-reset">

			{{#linkitems}}

				{{#haslink}}

					<li class="mb-3">
						<a target="_blank" href="{{{ linkurl }}}" title="Link to {{{ haslink }}}">{{{ haslink }}}</a>
					</li>

				{{/haslink}}

			{{/linkitems}}

         </ul>
               
     {{/haslinkitems}}

 </div>