{{#hascategorymenus}}

    <div class="dropdown tcdd-category-menu inline-block">
        <button 
            class="btn btn-primary dropdown-toggle" 
            type="button" 
            id="tcddCategoryMenu" 
            data-toggle="dropdown" 
            aria-haspopup="true" 
            aria-expanded="false"
        >
            Training categories
        </button>

        <div class="dropdown-menu-triangle"></div>

        <div class="dropdown-menu" aria-labelledby="tcddCategoryMenu">
            <div class="flex">
                <div class="w-1/3">

                    {{#categorymenus}}

                        {{#hascategory}}

                            {{{ button }}}

                        {{/hascategory}}

                    {{/categorymenus}}   

                </div>

                <div class="w-2/3 tabs-menu">
                    {{#hassubcategory1}}
                        <p class="font-bold">Subcategories</p>
                        <div id="menuItem-1" style="display: block;">
                            <ul class="list-reset">
                                {{#subcategory1items}}
                                    {{#hassubcategoryitem}}
                                        <li>
                                            <a href="{{{ url }}}">{{{ subtitle }}}</a>
                                        </li>
                                    {{/hassubcategoryitem}}
                                {{/subcategory1items}}
                            </ul>
                        </div>
                    {{/hassubcategory1}}

                    {{#hassubcategory2}}
                        <div id="menuItem-2" style="display: none;">
                            <ul class="list-reset">
                                {{#subcategory2items}}
                                    {{#hassubcategoryitem}}
                                        <li>
                                            <a href="{{{ url }}}">{{{ subtitle }}}</a>
                                        </li>
                                    {{/hassubcategoryitem}}
                                {{/subcategory2items}}
                            </ul>
                        </div>
                    {{/hassubcategory2}}

                    {{#hassubcategory3}}
                        <div id="menuItem-3" style="display: none;">
                            <ul class="list-reset">
                                {{#subcategory3items}}
                                    {{#hassubcategoryitem}}
                                        <li>
                                            <a href="{{{ url }}}">{{{ subtitle }}}</a>
                                        </li>
                                    {{/hassubcategoryitem}}
                                {{/subcategory3items}}
                            </ul>
                        </div>
                    {{/hassubcategory3}}

                    {{#hassubcategory4}}
                        <div id="menuItem-4" style="display: none;">
                            <ul class="list-reset">
                                {{#subcategory4items}}
                                    {{#hassubcategoryitem}}
                                        <li>
                                            <a href="{{{ url }}}">{{{ subtitle }}}</a>
                                        </li>
                                    {{/hassubcategoryitem}}
                                {{/subcategory4items}}
                            </ul>
                        </div>
                    {{/hassubcategory4}}
                </div>
            </div>
        </div>
    </div>
    <script>
        var tabs = document.querySelectorAll('.tcdd_tabs');
        
        tabs.forEach(function(tab) {
            var tabMenuItems = document.querySelectorAll('.tabs-menu div');

            tab.addEventListener('click', function(e) {
                e.stopPropagation();

                console.log("Clicked");
            });

            tab.addEventListener('mouseover', function(e) {
                var itemNumber = (e.target.id)[e.target.id.length - 1];

                tabMenuItems.forEach(function(item) {
                    item.style.display = "none";
                });

                var activeItem = document.querySelector(`#menuItem-${itemNumber}`);

                activeItem.style.display = "block";
            });
        });
    </script>

{{/hascategorymenus}}