<div id="news">
     <h3 class="mb-4">News</h3>

     {{#hasnewsitems}}

          {{#newsitems}}

          	<div>
          		<div class="block lg:flex items-baseline">
                	<h5>{{{ title }}}</h5>

                	<time class="ml-0 mr-0 lg:ml-auto lg:mr-4 text-muted">
                		<small>{{{ date }}}</small>
                	</time>
                </div>

          		<p>{{{ body }}}</p>
          	</div>

          {{/newsitems}}

     {{/hasnewsitems}}

 </div>